 .container{
  float:left;/*para que quede al lado del mapa*/
  width: 53%;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 75%;
  display: block;
  margin-top: 1%;
  margin-left: 5%;
  padding: 0;
  /*border: 1px solid #DCDCDC;*/
 }

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}
p.capitalize {
  text-transform: lowercase;
  font: bold 1.875rem/2rem "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;

}
p.capitalize:first-letter {
    text-transform: uppercase;
    font: bold 1.875rem/2rem "TradeGothic",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.thumbnail{
    width: 230px;
    height: 300px;
    overflow: auto;
    border: 0 none;/*quitar borde a thumbnail*/
    box-shadow: none;/*quitar borde a thumbnail*/
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: -15%;/*separacion entre filas de thumbnails*/
    padding-right: 0;
}
.thumbnail img{
    width: 230px;
    height: 130px;
}
a{
  cursor:pointer;
  color:black;
}
a:hover{
  color:black;
  text-decoration: none;
}
.newsTopic{
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 0.5rem;
  color: #000;
  float: right;
  /*height: 1em;*/
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: right;
}
.newsDate{
  width: 30%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  color: #878787;
  font: 0.7em/1.25em Arial,sans-serif;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.newsMedia{
    width: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    color: #878787;
    font: 0.625em/1.25em Arial,sans-serif;
    display: inline-block;
    vertical-align: middle;
}